
.navbar-button {
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.libraries-button:hover {
    -fx-border-color: #23b6ed;
}

.login-button:hover {
    -fx-border-color: #06afb4;
}

.searchbar-center {
    -fx-pref-height: 60px;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.searchbar-navbar {
    -fx-pref-height: 45px;
}

.result-page-arrow {
    -fx-icon-color: black;
}
