
.navbar-button {
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.libraries-button:hover {
    -fx-border-color: #23b6ed;
}

.login-button:hover {
    -fx-border-color: #06afb4;
}

.searchbar-center {
    -fx-pref-height: 60px;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.searchbar-navbar {
    -fx-pref-height: 45px;
}


.result-book {
    -fx-underline: false;
}
.result-book:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
.result-book-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: USE_COMPUTED_SIZE;
    -fx-pref-height: USE_COMPUTED_SIZE;
}

.result-page-arrow {
    -fx-icon-color: black;
}
