
.navbar-button {
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-padding: 0 15 0 15;
    -fx-pref-height: 36;
}

.libraries-button:hover {
    -fx-border-color: #23b6ed;
}

.login-button:hover {
    -fx-border-color: #06afb4;
}

.register-button:hover {
    -fx-border-color: #41e5b1;
}

.searchbar-center {
    -fx-pref-height: 60px;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.searchbar-navbar {
    -fx-pref-height: 45px;
}


.result-book {
    -fx-underline: false;
}
.result-book:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
.result-book-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

.result-page-arrow {
    -fx-icon-color: black;
}

.login-feedback-label {
    -fx-text-fill: #f22828;
}

.profile-picture-button {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
    -fx-background-radius: 9999;
}

.profile-picture-text {
    -fx-font: bold 20px "Arial";
}


.book-information-section {
    -fx-background-color: #ffffff;
}

.book-scores-section {
    -fx-background-color: #ffffff;
}







.error-label {
    -fx-text-fill: #f22828;
    -fx-text-alignment: center;
}

.connection-error-label {
    -fx-font: bold 16px "Arial";
}

.connection-error-title {
    -fx-font: bold 32px "Arial";
}