
/* Reusable font classes */

/* REGULAR */
.regular-12 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 12;
}
.regular-14 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
}
.regular-16 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 16;
}
.regular-17 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 17;
}
.regular-19 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 19;
}
.regular-23 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 23;
}
.regular-30 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 30;
}
.regular-34 {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 34;
}
/* LIGHT */
.light-17 {
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 17;
}
.light-19 {
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 19;
}
/*ITALIC*/
.italic-19 {
    -fx-font-family: "Montserrat Italic";
    -fx-font-size: 19;
}
.italic-40 {
    -fx-font-family: "Montserrat Italic";
    -fx-font-size: 40;
}


/* Control button standard class */
.control-button {
    -fx-background-color: white;
    -fx-background-radius: 9999;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 9999;
    -fx-border-width: 2;
    -fx-pref-width: 250;
    -fx-pref-height: 45;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 17;
}
.control-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #668bc1;
}
.control-button:disabled {
    -fx-opacity: 1;
}
.control-button-customdisabled {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 2;
    -fx-border-color: #668bc1;
}

/* Control button specializations */
.control-button-border {
    -fx-border-color: #668bc1;
    -fx-border-width: 2;
}

/* Control button round specialization */
.control-button-round {
    -fx-background-color: white;
    -fx-background-radius: 9999;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 9999;
    -fx-pref-width: 45;
    -fx-pref-height: 45;
    -fx-alignment: center;
    -fx-padding: 4;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 17;
}
.control-button-round:hover {
    -fx-cursor: hand;
    -fx-background-color: #f4f4f4;
    -fx-border-color: #668bc1;
}
.control-button-round:disabled {
    -fx-opacity: 1;
}
.control-button-round-customdisabled {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 2;
    -fx-border-color: #668bc1;
}


/* ScrollPane standard class */
.scrollable-pane {
    -fx-background-color: transparent;
}
.scrollable-pane > .viewport {
    -fx-background-color: transparent;
}

/* Result index text standard class */

.results-index-counter {
    -fx-pref-height: 20;
    -fx-font-family: "Monserrat Regular";
    -fx-text-fill: #393939;
    -fx-font-size: 14;
    -fx-padding: 5 0 5 0;
}






/* Navbar */

.navbar {
    -fx-background-color: #f1f1f1;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.1), 5, 0, 0, 5);
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #79e6fd;
    -fx-spacing: 10;
    -fx-padding: 0 40 0 10;
}
.history-control-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.history-control-button:hover {
    -fx-dropshadow: dropshadow(three-pass-box, rgba(50,50,50,0.1), 5, 0, 0, 5);
}
#historyBackButton {
    -fx-icon-color: #272727;
}
#historyBackButton:disabled {
    -fx-icon-color: #c8c8c8;
}
#historyForwardButton {
    -fx-icon-color: #272727;
}
#historyForwardButton:disabled {
    -fx-icon-color: #c8c8c8;
}
.navbar-button {
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-cursor: hand;
    -fx-pref-height: 36;
    -fx-background-color: transparent;
    -fx-padding: 0 15 0 15;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 15;
}
.libraries-button:hover {
    -fx-border-color: #23b6ed;
}
.login-button:hover {
    -fx-border-color: #04dbe1;
}
.register-button:hover {
    -fx-border-color: #6cf3c9;
}
.homepage-button {
    -fx-background-color: transparent;
    -fx-pref-height: 48;
    -fx-pref-width: 48;
    -fx-cursor: hand;
}
.homepage-button:hover {
    -fx-background-color: rgba(78, 84, 152, 0.1); /* Very light tint of your icon color */
}
.homepage-button .ikonli-font-icon {
     -fx-icon-color: #4e5498;
}
.homepage-button:hover .ikonli-font-icon {
    -fx-icon-color: #545bad;
}
.navbar-buttons-container {
    -fx-alignment: center;
    -fx-pref-height: 145;
    -fx-spacing: 20;
}
.profile-picture-button {
    -fx-pref-height: 35;
    -fx-pref-width: 35;
    -fx-background-radius: 9999;
}
.profile-picture-text {
    -fx-font: bold 20px "Arial";
}



/* Searchbar */

.searchbar {
    -fx-background-color: white;
    -fx-border-radius: 9999;
    -fx-background-radius: 9999;
    -fx-min-width: 300;
    -fx-pref-width: 640;
    -fx-pref-height: 50;
}
.searchbar-input {
    -fx-padding: 10;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.searchbar-control {
    -fx-pref-height: 48;
    -fx-pref-width: 48;
    -fx-background-color: transparent;
    -fx-content-display: center;
    -fx-icon-color: black;
    -fx-cursor: hand;
}
.searchbar-control:hover .ikonli-font-icon {
    -fx-icon-color: #5c62ab;
    -fx-effect: dropshadow(three-pass-box, rgba(92, 98, 171, 0.3), 5, 0, 0, 2);
}


.navbar-searchbar-container {
    -fx-alignment: center;
}
.home-searchbar-container {
    -fx-alignment: center;
}
.home-searchbar-container .searchbar {
    -fx-pref-height: 60;
    -fx-border-width: 1;
    -fx-border-color: lightgrey;
}




/* Search results page */

.results-page-container {
    -fx-alignment: top-center;
}
.results-page {
    -fx-max-width: 1000;
    -fx-pref-width: 1000;
}
.result-title-container {
    -fx-content-display: center;
    -fx-alignment: center;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 30;
    -fx-padding: 10;
}
.results-books-container {
    -fx-spacing: 10;
    -fx-background-color: white;
    -fx-border-width: 2 0 2 0;
    -fx-border-color: #668bc1;
    -fx-padding: 10 10 0 10;
}
.results-books-controls-container {
    -fx-padding: 10;
}

/* Search results */

.book-item {
    -fx-spacing: 4;
    -fx-padding: 10;
}
.book-item-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.book-item-label {
    -fx-max-width: 750;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
}
.book-item-link {
    -fx-text-fill: #1e81c5;
    -fx-max-width: 750;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 16;
}
.book-item-link:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}
.result-page-arrow {    /* What are these for? */
    -fx-icon-color: black;
    -fx-icon-size: 38;
}







/* Home page */

.welcome-title-container {
    -fx-min-width: 600;
    -fx-max-width: 600;
    -fx-min-height: 200;
    -fx-max-height: 200;
}



/* Search Page */

.search-page-container {
    -fx-alignment: top_center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}
.search-page {
    -fx-background-color: white;
    -fx-spacing: 20;
    -fx-max-width: 1000;
    -fx-min-width: 800;
    -fx-padding: 20;
}





/* Book Page */

.book-page-container {
    -fx-alignment: top-center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}
.book-page {
    -fx-background-color: white;
    -fx-max-width: 1000;
    -fx-pref-width: 1000;
    -fx-spacing: 20;
    -fx-padding: 20;
}
.book-data-section {
}
.book-label-title {
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 34;
}
.book-label-subtitle {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 24;
    -fx-spacing: 5;
}
.book-data-entries-container {
    -fx-hgap: 15;
    -fx-padding: 5 0 0 0;
}
.book-data-key {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 16;
}
.book-data-value {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 18;
}

/* Scores */

.scores-section {
    -fx-background-color: #FFFFFF;
}
.scores-container {
    -fx-max-width: 650;
    -fx-orientation: horizontal;
    -fx-hgap: 35;
    -fx-vgap: 5;
}
.scores-section-reviews-link {
    -fx-font-size: 14px;
    -fx-background-color: lightgrey;
}
.star {
   -fx-icon-color: #174e97;
}
.star-empty {
    -fx-icon-color: #3a76c650;
}

/* Reviews Subpage */

.reviews-section-title {
    -fx-font-family: "Montserrat Italic";
    -fx-font-size: 26;
}
.reviews-section {
    -fx-spacing: 15;
}
.reviews-section-separator {
    -fx-alignment: center;
    -fx-spacing: 10;
}
.review-separator .line {
    -fx-border-color: #668bc1;
    -fx-border-width: 1;
}
.review-item {
    -fx-hgap: 5;
    -fx-padding: 15 10 15 10;
}
.review-key {
    -fx-alignment: baseline-left;
    -fx-spacing: 5;
    -fx-min-height: 23;
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 14;
}
.review-key-score {
    -fx-font-size: 17;
}
.review-value {
    -fx-wrap-text: true;
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 16;
}
.review-header {
    -fx-padding: 0 0 5 0;
}
.review-header-score {
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 30;
}
.review-header-text {
    -fx-font-family: "Montserrat Light";
    -fx-font-size: 18;
}



/* Login */

.login-page {
    -fx-min-width: 600;
    -fx-background-color: rgba(255, 255, 255, 0.98);
    -fx-background-radius: 15;
    -fx-border-color: #41a2e5;
    -fx-border-radius: 15;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 100;
}
.login-feedback-label {
    -fx-text-fill: #f22828;
}
.login-field {
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-border-width: 0 0 2 00;
    -fx-border-color: #0c283d;
    -fx-background-color: transparent;
}
.login-field:focused {
    -fx-border-color: #3691d4;
}
.login-controls-container {
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 25 0 0 0;
}
.login-control-button {
    -fx-padding: 15;
}

/* Registration */

.register-page-wrapper {
    -fx-padding: 0 0 100 0;
}
.register-page {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-background-color: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.98),
        rgba(255, 255, 255, 0.98),
        rgba(244, 244, 253, 0.96)
    );
    -fx-background-radius: 20;
    -fx-border-color: #7377d5;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-padding: 75 100 75 100;
}



/* Libraries */

.libraries-page-container {
    -fx-alignment: top_center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}
.libraries-page {
    -fx-spacing: 20;
    -fx-max-width: 1100;
    -fx-min-width: 500;
    -fx-background-color: white;
    -fx-padding: 40;
}
/* searchbar */
.libraries-searchbar-section {
    -fx-spacing: 10;
    -fx-alignment: center-left;
    -fx-fill-width: false;
}
.library-searchbar-wrapper {
    -fx-border-radius: 9999;
    -fx-border-width: 1;
    -fx-border-color: lightgrey;
}
.libraries-searchbar-section-separator {
    -fx-padding: 5 0 0 0;
}
.libraries-searchbar-section-separator .line {
    -fx-border-color: #668bc1;
    -fx-border-width: 1;
}
.libraries-items-section-separator .line {
    -fx-border-color: #668bc1;
    -fx-border-width: 1;
}
/* items container */
.libraries-items-section {
    /* unused */
}
.libraries-items-control-container {
    -fx-alignment: center;
    -fx-spacing: 10;
}
.libraries-container {
    -fx-pref-wrap-length: 280;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-padding: 10;
}

/* items */
.library-item-button {
    -fx-min-height: 120;
    -fx-max-height: 120;
    -fx-min-width: 280;
    -fx-max-width: 280;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4, 3;
    -fx-background-color: lightgrey, white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
    -fx-cursor: hand;
}
.library-item-button:hover {
    -fx-background-color: #79e6fd, white;
    -fx-background-insets: 0, 3;
}
.library-item {
    -fx-spacing: 4;
    -fx-padding: 4;
}
.library-item-title {
    -fx-text-fill: #1e81c5;
    -fx-wrap-text: true;
}
.library-item-count-icon {
    -fx-icon-size: 23;
    -fx-icon-color: #545454;
}






/* Library Page */

.library-page-container {
    -fx-alignment: top_center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}
.library-page {
    -fx-background-color: white;
    -fx-spacing: 20;
    -fx-max-width: 1100;
    -fx-min-width: 500;
    -fx-padding: 40;
}












/* Temporary */

.error-label {
    -fx-text-fill: #f22828;
    -fx-text-alignment: center;
}

.connection-error-label {
    -fx-font: bold 16px "Arial";
}

.connection-error-title {
    -fx-font: bold 32px "Arial";
}

.footer {
    -fx-background-color: aquamarine;
    -fx-pref-height: 300;
}